@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.display-none {
  display: none;
}

.doropdown-index {
  margin: 10px 0 0 -15px;
}

.doropdown-text {
  margin-left: -30px;
}

.btn-primary {
  background: #3b5998;
}

.show-text {
  font-size: large;
}

#main-table {
  font-size: 1.2em;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



.flexiblebox {
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  background-color: #3b5998;
}

.header-list {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.header-list:hover {
  background-color: #3b5998 !important;
  color: #fff;
}

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}


/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

.progress-btn {
  font-weight: 900;
  letter-spacing: 2px;
  height: 80%;
  margin-top: 80px;
  text-align: center;
}

.btn-index {
  margin-bottom: 10px;
}

.category {
  height: 100px;
}

/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

/* ストーブメンテナンス一覧ページ */

.label-text {
  font-size: large;
}

.input-group {
  margin-top: 50px;
}

/* 進捗更新ページ */

.btn-progress {
  margin-top: 50px;
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* 基本情報編集モーダルウインドウ */

.label-new {
  margin-top: 5px;
}

.btn-new {
  margin: 15px 0;
  width: 30%;
}

.label-edit {
  margin-top: 5px;
}

.btn-edit {
  margin: 15px 0;
  width: 30%;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* デバック */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* 完了チェックボックス */

.chkbox-progress {
	margin:			0 0 10px 20px;
}

.chkbox-progress label {
	padding-left:		48px;			/* ラベルの位置 */
	font-size:		24px;
	line-height:		32px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
}

/* ボックスのスタイル */
.chkbox-progress label:before {
	content:		'';
	width:			32px;			/* ボックスの横幅 */
	height:			32px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	box-shadow:		inset 1px 2px 3px 0px #000;
	border-radius:		6px 6px 6px 6px;
}
/* 元のチェックボックスを表示しない */
.chkbox-progress input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.chkbox-progress input[type=checkbox]:checked + label:before {
	content:		'✓';		/* チェックの文字 */ 
	font-size:		55px;			/* チェックのサイズ */
	color:			#444;			/* チェックの色 */
	background-color:	#5cb85c;			/* チェックした時の色 */
}

/* 催促チェックボックス */

.chkbox-reminder {
	margin:			0 0 10px 20px;
}

.chkbox-reminder label {
	padding-left:		48px;			/* ラベルの位置 */
	font-size:		24px;
	line-height:		32px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
}

/* ボックスのスタイル */
.chkbox-reminder label:before {
	content:		'';
	width:			32px;			/* ボックスの横幅 */
	height:			32px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	box-shadow:		inset 1px 2px 3px 0px #000;
	border-radius:		6px 6px 6px 6px;
}
/* 元のチェックボックスを表示しない */
.chkbox-reminder input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.chkbox-reminder input[type=checkbox]:checked + label:before {
	content:		'✓';		/* チェックの文字 */ 
	font-size:		55px;			/* チェックのサイズ */
	color:			#444;			/* チェックの色 */
	background-color:	#d9534f;			/* チェックした時の色 */
}
